#csp-dbg-main, #csp-dbg-open {
	font-family: sans-serif;
	font-size: 12px;
}

#csp-dbg-main p {
	margin: 0;
	padding-bottom: 10px;
}

#csp-dbg-open {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 4px;
	background: black;
	color: white;
	text-align: center;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px rgba(50, 50, 50, 0.75);
}

#csp-dbg-open-btn {
	padding: 6px;
	border: 1px solid transparent;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	opacity: 0.8;
}

#csp-dbg-open-btn:hover {
	padding: 6px;
	border: 1px solid #005596;
	cursor: pointer;
	background: #3f4c6b; /* Old browsers */
	background: -moz-linear-gradient(top,  #3f4c6b 0%, #282f44 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3f4c6b), color-stop(100%,#282f44)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3f4c6b 0%,#282f44 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3f4c6b 0%,#282f44 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3f4c6b 0%,#282f44 100%); /* IE10+ */
	background: linear-gradient(top,  #3f4c6b 0%,#282f44 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#282f44',GradientType=0 ); /* IE6-9 */
}

#csp-dbg-main {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 10000;
}

#csp-dbg-title {
	font-size: 30px;
	color: white;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top,  #45484d 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #45484d 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #45484d 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top,  #45484d 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	padding: 15px;
}

.csp-dbg-title-close, .csp-dbg-entry-open, .csp-dbg-entry-close {
	float: right;
	cursor: pointer;
}
.csp-dbg-entry-timestamp {
	font-size: 1em;
	color: #777;
	font-weight: normal;
}

.csp-dbg-entry-row {
	background: #333333; /* Old browsers */
	border-top: 1px solid #555555;
	border-bottom: 1px solid black;
	color: white;
	font-size: 20px;
	padding: 10px;
}

#csp-dbg-row-ver {
	font-size: 12px;
	font-style: italic;
}

.csp-dbg-entry-row-content {
	background: white;
	padding: 20px;
}

.csp-dbg-tab-panels .csp-dbg-tab-panel {
	border: none;
	border-top: none;
	padding: 10px;
	margin: 0;
	color: #333;
}
.csp-dbg-tab-panels .csp-dbg-tab-panel ul {
	margin-left: 10px;
	padding-left: 10px;
}

.csp-dbg-tab-bar {
	border: 1px solid rgba(0, 0, 0, 0.4);
	margin: 0;
	padding: 10px;
	height: 20px;
	background-color: #F1F1F1;
	border-radius: 5px;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
	position: relative;
}

.csp-dbg-tab-bar ul {
	list-style: none;
	position: absolute;
	bottom: -1px;
}

.csp-dbg-tab-bar li {
	display: block;
	float: left;
	background: #DADADA;
	padding: 7px;
	margin: 0;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	color: #777;
	box-shadow: inset 0 -3px 3px -3px rgba(0, 0, 0, 0.4)
}
.csp-dbg-tab-bar li:hover {
	background: #E1E1E1;
}

.csp-dbg-tab-bar li.csp-dbg-row-content-tab-selected, .csp-dbg-tab-bar li.csp-dbg-row-content-tab-selected:hover {
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-bottom: 1px solid white;
	background: white;
	color: #444;
	box-shadow: none;
}

#csp-dbg-next-row-id {
	display: none;
}

.csp-dbg-log-level {
	font-weight: bold;
}

.csp-dbg-log-source {
	font-weight: bold;
}

.csp-dbg-log-time, .csp-dbg-query-title-time, .csp-dbg-timing-time {
	color: #AAA;
	font-style: italic;
}

.csp-dbg-query-title-id, .csp-dbg-variable-title-id, .csp-dbg-timing-id, .csp-dbg-json-field {
	font-weight: bold;
}

.csp-dbg-query-body, .csp-dbg-variable-content, .csp-dbg-json-value {
	padding-top: 5px;
	margin: 0;
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #AAA;
}

.csp-dbg-json {
	width: 100%;
}

.csp-dbg-trace-file {
	color: #55F;
}

.csp-dbg-trace-file-unknown {
	color: #AAA;
}

.csp-dbg-trace-function {
	font-weight: bold;
}